<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.provider.Settings.ACTION_APPLICATION_DETAILS_SETTINGS" />
            <data android:scheme="package" />
        </intent>
    </queries>

    <application
        android:name=".data.SongsRepoInitializer"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Splash"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <service
            android:name=".playback.MusicPlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">
        <property
            android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
            android:value="system_exempted" />
        </service>

        <service
            android:name=".tiles.CalmQSTileService"
            android:exported="true"
            android:label="@string/tile_label_calm"
            android:icon="@drawable/ic_calm"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".tiles.ChillQSTileService"
            android:exported="true"
            android:label="@string/tile_label_chill"
            android:icon="@drawable/ic_chill"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".tiles.SleepQSTileService"
            android:exported="true"
            android:label="@string/tile_label_sleep"
            android:icon="@drawable/ic_sleep"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".tiles.FocusQSTileService"
            android:exported="true"
            android:label="@string/tile_label_focus"
            android:icon="@drawable/ic_focus"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".tiles.SerenityQSTileService"
            android:exported="true"
            android:label="@string/tile_label_serenity"
            android:icon="@drawable/ic_serenity"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".tiles.SleepTimerQSTileService"
            android:exported="true"
            android:icon="@drawable/ic_timer_off"
            android:label="Sleep Timer"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".util.SleepTimerService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

    </application>
</manifest>